### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.orig
.DS_Store
.settings
.gradle
.project
.classpath
file-uploads

### build project ###
*.class
*.jar
target

### project file ###
*.log
/.mvn
/mvnw
/*.cmd



